@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  /*Background img*/
  background-color: rgb(252, 197, 201);
  background-image: url(imgs/purbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* Navigation Bar - Constant */
nav {
  /*navi bar - visual color*/
  top: 0px;
  position: sticky;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(252, 197, 201);
}
.nav-links {
  /*navi links location*/
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  /*navi links looks*/
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 120px;
  font-size: 160%;
}
li a:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}
/* Home Page */
.header {
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
  color: rgb(252, 197, 201);
}
.intro {
  text-align: center;
  padding-top: 70px;
  font-size: 170%;
  color: rgb(252, 197, 201);
}
.selfie {
  border-radius: 50%;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}
.languages {
  /*Displays img of languages I'm learning*/
  max-width: 15%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Project Page */
#projects {
  display: flex;
  flex-direction: column;
}
#projects .dvi {
  display: flex;
  padding-left: 0px;
  flex-direction: row;
  padding-right: 20px;
}
#projects .project-box {
  width: 60%;
}
#projects .project-box .project-image {
  margin-top: 3%;
  margin-left: 3%;
  float: right;
}
.pro-title {
  /*Big text - Projects*/
  color: rgb(252, 197, 201);
}
.pro-text {
  /*Small text - Projects*/
  font-size: 130%;
  color: rgb(252, 197, 201);
}
.texts {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  width: 400px;
  font-size: 100%;
  margin-top: 2%;
  margin-left: 5%;
}
/* Contact page */
.contact-h {
  text-align: center;
  padding-top: 1%;
  font-size: 200%;
  color: rgb(252, 197, 201);
}
.contact-p {
  color: rgb(252, 197, 201);
  text-align: center;
  padding-top: 10%;
  font-size: 170%;
}
.findme /* Where to find me - Contact*/ {
  margin-top: 5%;
  text-align: center;
  font-size: 90%;
  text-decoration-line: none;
  border-radius: 16px;
}
.linkicons .github-img {
  align-content: center;
  margin-top: 20px;
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1%;
}
.linkicons .linkedin-img {
  align-content: center;
  margin-top: 20px;
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1%;
}
.linkicons .email-img {
  align-content: center;
  margin-top: 20px;
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1%;
}
.linkicons #github {
  text-decoration-line: none;
  border-radius: 50%;
}
.linkicons #linkedin {
  text-decoration-line: none;
  border-radius: 50%;
}
.linkicons #email {
  text-decoration-line: none;
  border-radius: 50%;
}
#email {
  border-radius: 50%;
}
