@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap'); 
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body { /*Background img*/
    background-color: rgb(204, 151, 156);
    background-image: url(imgs/purbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
} 
nav{ /*navi bar - visual color*/
    top:0px;
    position:sticky;
    display:flex;
    height:30px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 151, 156);
} 
.nav-links{ /*navi links location*/
    margin-left:auto;
    margin-right: auto;
    list-style-type:none;
} 
li{
    float:left;
}
li a{ /*navi links looks*/
    display:block;
    color: black;
    text-align: center;
    text-decoration: none;
    width:120px;
    font-size:160%;
}
li a:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}
.header{
    text-align: center;
    padding-top: 70px;
    font-size: 50px;
    color:rgb(204, 151, 156)
}
.intro {
    text-align: center;
    padding-top: 70px;
    font-size: 170%;
    color:rgb(204, 151, 156)
}
.selfie{
    border-radius: 50%;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}
.languages { /*Displays img of languages I'm learning*/
    max-width: 15%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
#projects {
    display: flex;
    flex-direction: column;
}
#projects .project-box {
    width: 60%;
}
#projects .project-box .project-image{
    float:left;
    margin-top: 3%;
    margin-left: 3%;
    float: right;
}
#projects .pro-title{ /*Big text - Projects*/
    color:rgb(204, 151, 156)
}
#projects .dvi{
    display: flex;
    padding-left: 0px;
    flex-direction: row;
    padding-right: 20px;
}
.texts 
{
    display:flex;
    flex-direction: column;
    padding-left: 0px;
    width: 40%;
    font-size: 100%;
    margin-top: 3%;
    margin-left: 5%;
}
#projects .pro-text{/*Small text - Projects*/
    color:rgb(204, 151, 156)

}
.project-links {
    display: inline-block;
    vertical-align: top;
}