@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  /*Background img*/
  background-color: #c99ba7;
  background-image: url(imgs/purbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* Navigation Bar - Constant */
nav {
  /*navi bar - visual color*/
  top: 0px;
  position: sticky;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #c99ba7;
}
.nav-links {
  /*navi links location*/
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  /*navi links looks*/
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 120px;
  font-size: 160%;
}
li a:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}
/* -------------Home Page-------------*/
.header {
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
  color: #c99ba7;
}
.intro {
  text-align: center;
  padding-top: 70px;
  font-size: 170%;
  color: #fcc5c9;
}
.selfie {
  border-radius: 50%;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}
.languages {
  /*Displays img of languages I'm learning*/
  max-width: 15%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* -------------Project page -------------*/
#projects {
  display: flex;
  flex-direction: column;
}
#projects .dvi {
  display: flex;
  padding-left: 0px;
  flex-direction: row;
  padding-right: 20px;
}
#projects .ttt {
  display: flex;
  padding-left: 0px;
  flex-direction: row;
  padding-right: 20px;
}
#projects .project-box {
  width: 60%;
}
#projects .project-box .project-image {
  margin-top: 5%;
  margin-left: 3%;
  float: right;
}
.pro-title {
  /*Big text - Projects*/
  color: black;
}
.pro-text {
  /*Small text - Projects*/
  font-size: 133%;
  color: black;
}
.texts {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  width: 400px;
  font-size: 100%;
  margin-top: 3%;
  margin-left: 5%;
}
.texts {
  border-radius: 25px;
  background-color: #fcc5c968;
  border-radius: 5px 50px 30px 5px;
  padding: 20px;
  width: 400px;
  height: 378px;
}
.ttt .texts {
  border-radius: 25px;
  background-color: #fcc5c968;
  border-radius: 5px 50px 30px 5px;
  padding: 20px;
  width: 400px;
  height: 350px;
}
/* Contact page */
.contact-h {
  text-align: center;
  padding-top: 1%;
  font-size: 200%;
  color: #e8babd;
}
.contact-p {
  text-align: center;
  padding-top: 10%;
  font-size: 170%;
  color: #e8babd;
}
.findme /* Where to find me - Contact*/ {
  margin-top: 5%;
  text-align: center;
  font-size: 90%;
  text-decoration-line: none;
}
.linkicons {
  display: flex;
  justify-content: center;
  text-decoration-line: none;
  margin-top: 30px;
}
.linkicons .github-img {
  align-content: center;
  width: 70px;
}
#github {
  border-radius: 50%;
  /* background-color: aqua; */
  margin-right: 15px;
}
.linkicons .linkedin-img {
  align-content: center;
  width: 70px;
}
#linkedin {
  border-radius: 50%;
  /* background-color: aqua; */
}
.linkicons .email-img {
  align-content: center;
  width: 70px;
}
#email {
  border-radius: 50%;
  /* background-color: aqua; */
  margin-left: 15px;
}
